<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu">
					<li class="header">NAVIGATION</li>
					<li>
						<a href="#/dummy">
							<i class="fa fa-bug"></i> <span>Dummy</span>
						</a>
					</li>
					<li>
						<a href="#/blogg">
							<i class="fa fa-dashboard"></i> <span>Blogg</span>
						</a>
					</li>
					<li>
						<a href="#/dummy">
							<i class="fa fa-camera-retro"></i> <span>Dummy</span>
						</a>
					</li>
					<li>
						<a href="#/dummy">
							<i class="fa fa-circle"></i> <span>Dummy</span>
						</a>
					</li>
					<li>
						<a href="#/dummy">
							<i class="fa fa-book"></i> <span>Dummy</span>
						</a>
					</li>
				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>
